{
  "openapi": "3.0.3",
  "info": {
    "title": "Rannah رنّة API - Numbers and Telephony",
    "description": "Voice calls and phone number endpoints",
    "version": "1.0.4"
  },
  "servers": [
    {
      "url": "https://rannah.io/v3",
      "description": "EU Production server"
    },
    {
      "url": "https://rannah.io/v3",
      "description": "NA Production server"
    }
  ],
  "paths": {
    "/calls": {
      "post": {
        "operationId": "calls",
        "summary": "Initiate Voice Call",
        "description": "Initiates a voice call using Twilio. Use this to make outbound calls from your AI agent to a phone number, or to set up incoming call handling.",
        "tags": [
          "Numbers and Telephony"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "pattern": "^\\+",
                    "maxLength": 15,
                    "description": "This is the number that agent needs to call, must start with a \"+\" and must not include any spaces or special characters, they will automatically be removed."
                  },
                  "to": {
                    "type": "string",
                    "pattern": "^\\+",
                    "maxLength": 15,
                    "description": "This is the number that agent needs to call, must start with a \"+\""
                  },
                  "agentId": {
                    "type": "string",
                    "description": "This is the agent id to use for the call."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "This is the campaign id to use for the call that is part of campaign"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "messagesHistory": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user",
                                "assistant",
                                "system",
                                "tool"
                              ]
                            },
                            "content": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "tool_call_id": {
                              "type": "string"
                            },
                            "tool_name": {
                              "type": "string"
                            },
                            "tool_calls": {}
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "agentOverrides": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "**Title**: The title of the agent."
                          },
                          "description": {
                            "type": "string",
                            "description": "**Description**: A brief description of the agent."
                          },
                          "theme": {
                            "type": "string",
                            "description": "**Theme**: The visual theme of the agent, e.g., 'blue-light' or 'custom-blue-dark'."
                          },
                          "voiceConfig": {
                            "type": "object",
                            "properties": {
                              "transcriber": {
                                "type": "object",
                                "properties": {
                                  "speechConfig": {
                                    "type": "object",
                                    "properties": {
                                      "format": {
                                        "type": "string"
                                      },
                                      "sampleRate": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "modelId": {
                                    "type": "string"
                                  },
                                  "patienceFactor": {
                                    "type": "number"
                                  },
                                  "language": {
                                    "type": "string"
                                  },
                                  "provider": {
                                    "type": "string",
                                    "enum": [
                                      "deepgram",
                                      "gladia",
                                      "assemblyai",
                                      "speechmatics"
                                    ]
                                  },
                                  "randomOptions": {},
                                  "internal": {
                                    "type": "object",
                                    "properties": {
                                      "inputAudioStream": {},
                                      "debug": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "apiKey": {
                                    "type": "string"
                                  },
                                  "platformSpecific": {
                                    "type": "object",
                                    "properties": {
                                      "deepgram": {
                                        "type": "object",
                                        "properties": {
                                          "keywords": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "description": "Keywords to focus on in the transcription."
                                          },
                                          "language": {
                                            "type": "string"
                                          },
                                          "smart_format": {
                                            "type": "boolean"
                                          },
                                          "model": {
                                            "type": "string"
                                          },
                                          "interim_results": {
                                            "type": "boolean"
                                          },
                                          "endpointing": {
                                            "type": "number"
                                          },
                                          "no_delay": {
                                            "type": "boolean"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "assemblyai": {
                                        "type": "object",
                                        "properties": {
                                          "modelId": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "modelId"
                                        ],
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "utteranceThreshold": {
                                    "type": "number"
                                  },
                                  "inputVoiceEnhancer": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "provider"
                                ],
                                "additionalProperties": false,
                                "description": "**Transcriber**: The configuration options for the transcriber provider used by the agent."
                              },
                              "speechGen": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "highAudioQuality": {
                                        "type": "boolean",
                                        "description": "Generate highest quality audio possible, must have pro plan or higher on elevenlabs to enable your own key to work with this option."
                                      },
                                      "provider": {
                                        "type": "string",
                                        "enum": [
                                          "elevenlabs",
                                          "cartesia",
                                          "playht",
                                          "azure",
                                          "rime-ai",
                                          "openai",
                                          "playai-groq"
                                        ],
                                        "description": "Speech providers supported by the app."
                                      },
                                      "modelId": {
                                        "type": "string",
                                        "description": "The model id of the speech gen."
                                      },
                                      "voiceId": {
                                        "type": "string",
                                        "description": "The voice id for the speech service."
                                      },
                                      "apiKey": {
                                        "type": "string"
                                      },
                                      "region": {
                                        "type": "string"
                                      },
                                      "backgroundNoise": {
                                        "type": "string",
                                        "enum": [
                                          "restaurant",
                                          "office",
                                          "park",
                                          "street"
                                        ]
                                      },
                                      "punctuationBreaks": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "platformSpecific": {
                                        "type": "object",
                                        "properties": {
                                          "elevenLabs": {
                                            "type": "object",
                                            "properties": {
                                              "stability": {
                                                "type": "number"
                                              },
                                              "similarity_boost": {
                                                "type": "number"
                                              },
                                              "use_speaker_boost": {
                                                "type": "boolean"
                                              },
                                              "speed": {
                                                "type": "number"
                                              },
                                              "style": {
                                                "type": "number"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "playht": {
                                            "type": "object",
                                            "properties": {
                                              "voiceId": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "voiceId"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "backChannelling": {
                                        "type": "boolean",
                                        "description": "Whether to say umm, sure, etc.. when the user is talking for too long."
                                      },
                                      "language": {
                                        "type": "string"
                                      },
                                      "enableLongMessageBackchannelling": {
                                        "type": "boolean",
                                        "description": "Whether to say umm, sure, etc.. when the user is talking for too long."
                                      },
                                      "backchannelMessages": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "backchannelInterval": {
                                        "type": "number"
                                      },
                                      "wordsReplacements": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "word": {
                                              "type": "string"
                                            },
                                            "replacement": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "word",
                                            "replacement"
                                          ],
                                          "additionalProperties": false
                                        }
                                      }
                                    },
                                    "required": [
                                      "provider"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "internal": {
                                        "type": "object",
                                        "properties": {
                                          "inputTextStream": {},
                                          "audioConfig": {
                                            "type": "object",
                                            "properties": {
                                              "format": {
                                                "type": "string"
                                              },
                                              "sampleRate": {
                                                "type": "number"
                                              },
                                              "channels": {
                                                "type": "number"
                                              }
                                            },
                                            "required": [
                                              "format",
                                              "sampleRate",
                                              "channels"
                                            ],
                                            "additionalProperties": false
                                          },
                                          "emitOnComplete": {
                                            "type": "boolean"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    }
                                  }
                                ],
                                "description": "**Speech Generation**: The configuration options for the speech generation provider used by the agent."
                              },
                              "config": {
                                "type": "object",
                                "properties": {
                                  "recordAudio": {
                                    "type": "boolean"
                                  },
                                  "backgroundNoise": {
                                    "type": "string",
                                    "enum": [
                                      "restaurant",
                                      "office",
                                      "street",
                                      "none"
                                    ]
                                  },
                                  "enableWebCalling": {
                                    "type": "boolean"
                                  },
                                  "firstInputChunkUNIXMs": {
                                    "type": "number"
                                  },
                                  "firstOutputChunkUNIXMs": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "recordAudio"
                                ],
                                "additionalProperties": false,
                                "description": "**Call Configuration**: The call configuration settings for the agent."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAtUNIX": {
                            "type": "number",
                            "description": "The timestamp when the agent was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."
                          },
                          "disabled": {
                            "type": "boolean",
                            "description": "Indicates whether the agent is disabled. If set to true, the agent will not be active."
                          },
                          "vectorDb": {
                            "description": "Specifies the vector database configuration for the agent. This database is used for handling vectorized data or embeddings."
                          },
                          "agentPlatform": {
                            "description": "Specifies the platform on which the agent operates, such as web, mobile, or other environments."
                          },
                          "storageID": {
                            "type": "string",
                            "description": "The identifier for the agent's storage configuration."
                          },
                          "VF_DIALOGUE_API_KEY": {
                            "type": "string",
                            "description": "API key for VF dialogue integration, enabling the agent to communicate with external systems."
                          },
                          "VF_PROJECT_API_KEY": {
                            "type": "string",
                            "description": "API key associated with the VF project to authenticate and enable specific functionalities."
                          },
                          "VF_PROJECT_ID": {
                            "type": "string",
                            "description": "The unique identifier of the VF project linked to the agent."
                          },
                          "VF_KB_API_KEY": {
                            "type": "string",
                            "description": "API key for accessing the VF knowledge base, enabling advanced knowledge retrieval capabilities."
                          },
                          "roundedImageURL": {
                            "type": "string",
                            "description": "URL pointing to the rounded image asset used to visually represent the agent."
                          },
                          "rectangeImageURL": {
                            "type": "string",
                            "description": "URL pointing to the rectangular image asset for the agent's branding or display."
                          },
                          "messageDelayMS": {
                            "type": "number",
                            "description": "Specifies the delay in milliseconds for the agent to send messages, simulating natural conversation timing."
                          },
                          "scrollAnimation": {
                            "type": "boolean",
                            "description": "Indicates whether scroll animations are enabled for smooth transitions in the chat interface."
                          },
                          "proactiveMessage": {
                            "type": "string",
                            "description": "A predefined message the agent sends proactively to engage users."
                          },
                          "acceptFileUpload": {
                            "type": "boolean",
                            "description": "Determines if the agent accepts file uploads from users as part of the interaction."
                          },
                          "recordChatHistory": {
                            "type": "boolean",
                            "description": "Specifies whether the agent logs chat histories for future reference or analysis."
                          },
                          "chatBgURL": {
                            "type": "string",
                            "description": "URL of the background image used in the chat interface."
                          },
                          "disableSmoothScroll": {
                            "type": "boolean",
                            "description": "Disables smooth scrolling if set to true, potentially improving performance on low-end devices."
                          },
                          "isDeployed": {
                            "type": "boolean",
                            "description": "Indicates whether the agent is currently deployed and operational."
                          },
                          "tokensUsage": {
                            "description": "Tracks the token usage statistics for the agent, typically used in LLM integrations."
                          },
                          "maxTokensUsage": {
                            "description": "Defines the maximum allowable token usage for the agent to prevent overconsumption."
                          },
                          "fontFamily": {
                            "type": "string",
                            "description": "The font family used in the agent's user interface for consistent branding."
                          },
                          "branding": {
                            "type": "string",
                            "description": "Custom branding information or labels associated with the agent."
                          },
                          "customThemeJSONString": {
                            "type": "string",
                            "description": "A JSON string defining a custom theme for the agent's interface."
                          },
                          "autoStartWidget": {
                            "type": "boolean",
                            "description": "Determines if the widget should auto-start upon page load."
                          },
                          "allTimeTriggers": {
                            "type": "number",
                            "description": "The total number of triggers or interactions the agent has handled."
                          },
                          "syncBrowser": {
                            "type": "boolean",
                            "description": "Enables synchronization of settings or states with the browser session."
                          },
                          "delayBeforeSubmit": {
                            "type": "number",
                            "description": "The delay (in milliseconds) before submitting user input to the agent."
                          },
                          "region": {
                            "type": "string",
                            "enum": [
                              "eu",
                              "na"
                            ],
                            "description": "Defines the geographical region settings for the agent, such as localization."
                          },
                          "listenForUrlChanges": {
                            "type": "boolean",
                            "description": "Specifies if the agent should monitor and react to changes in the browser URL."
                          },
                          "chatForget": {
                            "type": "boolean",
                            "description": "If enabled, the agent will not retain previous chat interactions for privacy reasons."
                          },
                          "lang": {
                            "type": "string",
                            "description": "Specifies the default language for the agent's interactions and responses."
                          },
                          "enableAudioSupport": {
                            "type": "boolean",
                            "description": "Enables audio features, allowing the agent to process and respond to audio inputs."
                          },
                          "AITranslateTo": {
                            "type": "string",
                            "description": "Defines the target language for AI translation during interactions."
                          },
                          "enableAITranslate": {
                            "type": "boolean",
                            "description": "Activates AI-based translation for multilingual support."
                          },
                          "disableNoReplyListener": {
                            "type": "boolean",
                            "description": "Disables the listener for instances where no reply is detected from the agent."
                          },
                          "disableHumanHandoff": {
                            "type": "boolean",
                            "description": "Prevents the agent from escalating interactions to a human operator."
                          },
                          "alwaysShowHandoff": {
                            "type": "boolean",
                            "description": "Ensures the handoff option is always visible, regardless of agent status."
                          },
                          "manualControl": {
                            "type": "boolean",
                            "description": "Allows manual control over specific agent functionalities."
                          },
                          "enableVGHandoff": {
                            "type": "boolean",
                            "description": "Activates VG-specific handoff mechanisms for the agent."
                          },
                          "enableGeoAnalytics": {
                            "type": "boolean",
                            "description": "Enables geographic analytics to track user interactions based on location."
                          },
                          "fixedHandoffPopup": {
                            "type": "boolean",
                            "description": "Ensures the handoff popup remains fixed in the interface."
                          },
                          "buttonsLayout": {
                            "type": "string",
                            "enum": [
                              "horizontal",
                              "vertical",
                              "in-footer"
                            ],
                            "description": "Defines the layout and style of buttons in the agent's interface."
                          },
                          "ADVANCED_customCSS": {
                            "type": "string",
                            "description": "Specifies advanced custom CSS for overriding the default styling of the agent's interface."
                          },
                          "messagesLimit": {
                            "type": "number",
                            "description": "Sets a cap on the number of messages the agent can exchange in a single session."
                          },
                          "whatsappToken": {
                            "type": "string",
                            "description": "Token for authenticating and integrating with WhatsApp services."
                          },
                          "whatsappNumberId": {
                            "type": "string",
                            "description": "The ID associated with the WhatsApp number used by the agent."
                          },
                          "whatsappBusniessId": {
                            "type": "string",
                            "description": "The business ID for WhatsApp integration, enabling enterprise-level features."
                          },
                          "waTestNumber": {
                            "type": "string",
                            "description": "A test number used during WhatsApp integration setup or testing."
                          },
                          "waVerifyPassed": {
                            "type": "boolean",
                            "description": "Indicates if WhatsApp verification was successfully completed."
                          },
                          "waTestPassed": {
                            "type": "boolean",
                            "description": "Indicates if the WhatsApp integration test was successful."
                          },
                          "webhookUrl": {
                            "type": "string",
                            "description": "The URL where the agent sends webhook events to external systems."
                          },
                          "gcloudPrivateKey": {
                            "type": "string",
                            "description": "Private key for Google Cloud services integration."
                          },
                          "gcloudClientEmail": {
                            "type": "string",
                            "description": "Client email for Google Cloud authentication."
                          },
                          "smartInit": {
                            "type": "boolean",
                            "description": "Activates smart initialization features for the agent."
                          },
                          "UIhandoffTitle": {
                            "type": "string",
                            "description": "Title displayed during UI handoff interactions."
                          },
                          "UIhandoffSubtitle": {
                            "type": "string",
                            "description": "Subtitle displayed during UI handoff interactions."
                          },
                          "igVerified": {
                            "type": "boolean",
                            "description": "Indicates if the agent's Instagram integration is verified."
                          },
                          "igAccessToken": {
                            "type": "string",
                            "description": "Access token for authenticating Instagram API requests."
                          },
                          "showHandoffEvenIfOffline": {
                            "type": "boolean",
                            "description": "Displays the handoff option even if the agent is offline."
                          },
                          "customButtonJSON_STRING": {
                            "type": "string",
                            "description": "JSON string defining custom buttons for the agent's interface."
                          },
                          "vg_initPrompt": {
                            "type": "string",
                            "description": "The initial prompt displayed or used by the VF system."
                          },
                          "vg_prompt": {
                            "type": "string",
                            "description": "The main prompt template used for generating responses."
                          },
                          "vg_initMessages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Initial messages loaded for the agent's conversation flow."
                          },
                          "vg_systemPrompt": {
                            "type": "string",
                            "description": "System-level prompt defining the agent's behavior and rules."
                          },
                          "vg_temperature": {
                            "type": "number",
                            "description": "Defines the temperature setting for response variability in the VF model."
                          },
                          "vg_defaultModel": {
                            "type": "string",
                            "enum": [
                              "gpt-3.5-turbo-0125",
                              "gpt-4-1106-preview",
                              "gpt-4o",
                              "gpt-4o-mini",
                              "ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv",
                              "llama3-8b-8192",
                              "llama3-70b-8192",
                              "llama-3.1-8b-instant",
                              "llama-3.1-70b-versatile",
                              "llama-3.2-90b-text-preview",
                              "llama-3.2-11b-text-preview",
                              "llama-3.3-70b-versatile",
                              "mixtral-8x7b-32768",
                              "gemma-7b-it",
                              "gemma2-9b-it",
                              "claude-3-5-sonnet-20240620",
                              "claude-3-5-sonnet-20241022",
                              "claude-3-opus-20240229",
                              "claude-3-sonnet-20240229",
                              "claude-3-haiku-20240307",
                              "claude-3-5-haiku-20241022",
                              "claude-3-7-sonnet-20250219",
                              "gemini-1.5-pro",
                              "gemini-1.5-flash",
                              "gemini-1.0-pro",
                              "gemini-2.0-flash-exp",
                              "gemini-2.0-flash-thinking-exp-1219",
                              "gemini-2.5-pro-exp-03-25",
                              "gpt-4-32k",
                              "gpt-4",
                              "gpt-3.5-turbo-16k",
                              "gpt-3.5-turbo",
                              "deepseek-chat",
                              "deepseek-r1-distill-llama-70b",
                              "grok-2-latest",
                              "qwen-max-latest",
                              "qwen-plus-latest",
                              "qwen-turbo-latest"
                            ],
                            "description": "Specifies the default LLM model used by the agent for language processing."
                          },
                          "vg_maxTokens": {
                            "type": "number",
                            "description": "Sets the maximum token limit for generating responses."
                          },
                          "vg_kbDefaultDimension": {
                            "type": "number",
                            "description": "Default dimensionality for the agent's knowledge base embeddings."
                          },
                          "vg_kbTopChunks": {
                            "type": "number",
                            "description": "The number of top chunks retrieved from the knowledge base during a query."
                          },
                          "SECRET_API_KEY": {
                            "type": "string",
                            "description": "The secret API key for secure integration with VF services."
                          },
                          "vg_kbCharCount": {
                            "type": "number",
                            "description": "Tracks the total character count of the agent's knowledge base."
                          },
                          "vg_kbDocsNum": {
                            "type": "number",
                            "description": "The total number of documents stored in the agent's knowledge base."
                          },
                          "vg_enableUIEngine": {
                            "type": "boolean",
                            "description": "Activates the UI engine for enhanced interface capabilities."
                          },
                          "vg_enableAboutContext": {
                            "type": "boolean",
                            "description": "Enables contextual information about the agent for users."
                          },
                          "vg_kb_llm": {
                            "type": "object",
                            "properties": {
                              "searchMethod": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "smart"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "simple"
                                    ]
                                  }
                                ]
                              },
                              "searchPrompt": {
                                "type": "string"
                              },
                              "modelId": {
                                "type": "string",
                                "enum": [
                                  "gpt-3.5-turbo-0125",
                                  "gpt-4-1106-preview",
                                  "gpt-4o",
                                  "gpt-4o-mini",
                                  "ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv",
                                  "llama3-8b-8192",
                                  "llama3-70b-8192",
                                  "llama-3.1-8b-instant",
                                  "llama-3.1-70b-versatile",
                                  "llama-3.2-90b-text-preview",
                                  "llama-3.2-11b-text-preview",
                                  "llama-3.3-70b-versatile",
                                  "mixtral-8x7b-32768",
                                  "gemma-7b-it",
                                  "gemma2-9b-it",
                                  "claude-3-5-sonnet-20240620",
                                  "claude-3-5-sonnet-20241022",
                                  "claude-3-opus-20240229",
                                  "claude-3-sonnet-20240229",
                                  "claude-3-haiku-20240307",
                                  "claude-3-5-haiku-20241022",
                                  "claude-3-7-sonnet-20250219",
                                  "gemini-1.5-pro",
                                  "gemini-1.5-flash",
                                  "gemini-1.0-pro",
                                  "gemini-2.0-flash-exp",
                                  "gemini-2.0-flash-thinking-exp-1219",
                                  "gemini-2.5-pro-exp-03-25",
                                  "gpt-4-32k",
                                  "gpt-4",
                                  "gpt-3.5-turbo-16k",
                                  "gpt-3.5-turbo",
                                  "deepseek-chat",
                                  "deepseek-r1-distill-llama-70b",
                                  "grok-2-latest",
                                  "qwen-max-latest",
                                  "qwen-plus-latest",
                                  "qwen-turbo-latest"
                                ]
                              },
                              "temprature": {
                                "type": "number"
                              },
                              "maxTokens": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false,
                            "description": "Configuration for LLM-based knowledge base queries, including search methods and model parameters."
                          },
                          "vg_max_messages_history": {
                            "type": "number",
                            "description": "Maximum number of messages retained in the chat history."
                          },
                          "ifKnowsThreshold": {
                            "type": "number",
                            "description": "Confidence threshold for determining if the agent 'knows' an answer."
                          },
                          "avatarImageUrl": {
                            "type": "string",
                            "description": "URL of the avatar image representing the agent."
                          },
                          "headerImageUrl": {
                            "type": "string",
                            "description": "URL of the header image displayed in the chat interface."
                          },
                          "bannerImageUrl": {
                            "type": "string",
                            "description": "URL of the banner image used in the agent's branding."
                          },
                          "soundEffectUrl": {
                            "type": "string",
                            "description": "URL of the sound effect file used for agent interactions."
                          },
                          "soundEffectEnabled": {
                            "type": "boolean",
                            "description": "Enables or disables sound effects for the agent."
                          },
                          "enableQuickFileUpload": {
                            "type": "boolean",
                            "description": "Allows quick file uploads during chat interactions."
                          },
                          "instagramOptions": {
                            "type": "object",
                            "properties": {
                              "pageId": {
                                "type": "string"
                              },
                              "accessToken": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "translateUserResponse": {
                            "type": "boolean"
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "flowise": {
                            "type": "object",
                            "properties": {
                              "webhookUrl": {
                                "type": "string"
                              },
                              "webhookSecret": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "vfSettings": {
                            "type": "object",
                            "properties": {
                              "enableIgnoreUrlPaths": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "vapiConfig": {
                            "type": "object",
                            "properties": {
                              "syncKbOnSave": {
                                "type": "boolean"
                              },
                              "PUBLIC_API_KEY": {
                                "type": "string"
                              },
                              "PRIVATE_API_KEY": {
                                "type": "string"
                              },
                              "enableVapiOnWeb": {
                                "type": "boolean"
                              },
                              "overrideWithVG": {
                                "type": "boolean"
                              },
                              "promptOnWeb": {
                                "type": "boolean"
                              },
                              "maxCostMonthly": {
                                "type": "number"
                              },
                              "maxMinutesMonthly": {
                                "type": "number"
                              },
                              "useVfProject": {
                                "type": "boolean"
                              },
                              "syncTools": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "vgOptions": {
                            "type": "object",
                            "properties": {
                              "isLlmStudio": {
                                "type": "boolean"
                              },
                              "showSources": {
                                "type": "boolean"
                              },
                              "lightUiEngine": {
                                "type": "boolean"
                              },
                              "legacyKb": {
                                "type": "boolean"
                              },
                              "maxChunkSize": {
                                "type": "number"
                              },
                              "handoffTimeout": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ui": {
                            "type": "object",
                            "properties": {
                              "bgImageVisible": {
                                "type": "boolean"
                              },
                              "widgetType": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "direct-chat"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "tabs"
                                    ]
                                  }
                                ]
                              },
                              "enableFixedFeedbackBtns": {
                                "type": "boolean"
                              },
                              "voice": {
                                "type": "object",
                                "properties": {
                                  "question": {
                                    "type": "string"
                                  },
                                  "continueBtnLabel": {
                                    "type": "string"
                                  },
                                  "dismissBtnLabel": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "question",
                                  "continueBtnLabel",
                                  "dismissBtnLabel"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "assignedToolsIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tools": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isDefault": {
                                  "type": "boolean",
                                  "description": "Indicates whether this tool is the default tool for the agent. Defaults to false if unspecified."
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "GET",
                                    "POST",
                                    "PUT",
                                    "PATCH"
                                  ],
                                  "description": "The HTTP method used by this tool. Acceptable values are 'GET', 'POST', 'PUT', or 'PATCH'. Defaults to 'POST' if unspecified."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for the tool. Ensures distinct identification within the system."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the tool, providing a human-readable identifier for display purposes."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "A detailed description of the tool's purpose and functionality. Helps users understand its role within the agent."
                                },
                                "serverUrl": {
                                  "type": "string",
                                  "description": "The server URL where the tool's operations are performed. Used for network-based integrations."
                                },
                                "serverUrlSecret": {
                                  "type": "string",
                                  "description": "A secret token or key associated with the server URL. Provides secure access to the tool's backend services."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "description": "The timestamp when the tool was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "description": "The timestamp when the tool was last updated, formatted as an ISO 8601 string. Useful for versioning and auditing."
                                },
                                "disabled": {
                                  "type": "boolean",
                                  "description": "Indicates whether the tool is currently disabled. A disabled tool cannot be used by the agent."
                                },
                                "isVapiTool": {
                                  "type": "boolean",
                                  "description": "Indicates whether the tool is a Virtual API (VAPI) tool. VAPI tools enable interaction with external APIs."
                                },
                                "vapiId": {
                                  "type": "string",
                                  "description": "A unique identifier for the VAPI associated with this tool. Used for integration with specific API endpoints."
                                },
                                "isGlobal": {
                                  "type": "boolean",
                                  "description": "If true, this tool is globally accessible to all nodes and agents. Overrides context-specific restrictions."
                                },
                                "variablesIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of variable IDs associated with the tool. Each ID maps to a specific variable used by the tool."
                                },
                                "agentId": {
                                  "type": "string",
                                  "description": "The unique identifier of the agent associated with this tool. Helps in linking the tool to a specific agent."
                                },
                                "userId": {
                                  "type": "string",
                                  "description": "The unique identifier of the user associated with this tool. Used for user-specific configurations and access control."
                                },
                                "backchannellingPhrases": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of phrases used for backchannel communication. These phrases help in maintaining conversational flow."
                                },
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "A unique identifier for the field, ensuring it is distinct across the system."
                                      },
                                      "in": {
                                        "type": "string",
                                        "description": "Defines the location or context in which the field is utilized. Common values include 'query', 'body', or 'header'."
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "number",
                                          "boolean",
                                          "system"
                                        ],
                                        "description": "Specifies the variable type of the field. Acceptable values include 'string', 'number', 'boolean', and 'system'."
                                      },
                                      "value": {
                                        "description": "The current assigned value of the field. This value is optional and supports any type depending on the field's context."
                                      },
                                      "defaultValue": {
                                        "description": "A predefined value assigned to the field when no specific value is provided. Useful for ensuring consistent behavior."
                                      },
                                      "key": {
                                        "type": "string",
                                        "description": "The unique key that identifies this tool field or variable. Often used for referencing the field programmatically."
                                      },
                                      "description": {
                                        "type": "string",
                                        "description": "A detailed explanation of the field's purpose and usage. Helps users understand the field's role in the system."
                                      },
                                      "required": {
                                        "type": "boolean",
                                        "description": "Indicates whether the presence of this field is mandatory for successful operation. Defaults to false if unspecified."
                                      },
                                      "reusable": {
                                        "type": "boolean",
                                        "description": "Denotes whether this field can be reused across multiple contexts or tools. Useful for reducing redundancy."
                                      },
                                      "isEnv": {
                                        "type": "boolean",
                                        "description": "Specifies if this field represents an environment variable, typically used for configuration or deployment."
                                      },
                                      "isSystem": {
                                        "type": "boolean",
                                        "description": "Indicates whether this field is a system-level variable, reserved for core operations or internal use."
                                      },
                                      "isGlobal": {
                                        "type": "boolean",
                                        "description": "If enabled, this field remains globally accessible to the agent across all operational contexts. Useful for global constants."
                                      },
                                      "agentId": {
                                        "type": "string",
                                        "description": "References the unique identifier of the agent associated with this field. Helps in mapping fields to specific agents."
                                      },
                                      "userId": {
                                        "type": "string",
                                        "description": "References the unique identifier of the user associated with this field. Useful for user-specific customizations."
                                      }
                                    },
                                    "required": [
                                      "id"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "channels": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "web-chat",
                                      "whatsapp",
                                      "instagram",
                                      "telegram",
                                      "discord",
                                      "gb-chat",
                                      "vapi",
                                      "messenger",
                                      "voice",
                                      "telephony"
                                    ]
                                  },
                                  "description": "The channels that the tool can be used on."
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "description"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "internal": {
                            "type": "object",
                            "properties": {
                              "accountCreationConfig": {
                                "type": "string",
                                "enum": [
                                  "v2"
                                ]
                              },
                              "websocketServer": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "edge"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "nodejs"
                                    ]
                                  }
                                ]
                              },
                              "setOnResponse": {
                                "type": "boolean"
                              },
                              "enableSetOnLoad": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "disableAutoTranscribeAudio": {
                            "type": "boolean"
                          },
                          "instaAgentUsername": {
                            "type": "string"
                          },
                          "convoTags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "vfConfig": {
                            "type": "object",
                            "properties": {
                              "alwaysEnableCardButtons": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "discord": {
                            "type": "object",
                            "properties": {
                              "channelIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "webhookUrls": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "limits": {
                            "type": "object",
                            "properties": {
                              "maxInteractionsPerUserId": {
                                "type": "number"
                              },
                              "maxAnnualCreditsUsage": {
                                "type": "number"
                              },
                              "maxMonthlyCreditsUsage": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "tabs": {
                            "type": "array"
                          },
                          "kbTags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "kbTagsDataMap": {
                            "type": "array"
                          },
                          "nodes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "A short description of what this node does and when it should be used, specially useful if the node is global or when the LLM detects automatic rerouting."
                                },
                                "instructions": {
                                  "type": "string",
                                  "description": "What should this LLM node do."
                                },
                                "isGlobal": {
                                  "type": "boolean",
                                  "description": "If true, this node will be always present for the LLM"
                                },
                                "toolsIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The tools that will be available for this node"
                                },
                                "childrenNodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "nodeId": {
                                        "type": "string"
                                      },
                                      "condition": {
                                        "type": "string",
                                        "description": "The condition that will be checked to determine if the node should advanced to the selected node id or not or should simply loop in the current node."
                                      }
                                    },
                                    "required": [
                                      "nodeId",
                                      "condition"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "description": "The outputs of this node which the node after finishing will choose from to either advance or to keep looping in this node till it caputures or reaches one of the mentioned routers."
                                },
                                "llmConfig": {
                                  "type": "object",
                                  "properties": {
                                    "modelId": {
                                      "type": "string",
                                      "enum": [
                                        "gpt-3.5-turbo-0125",
                                        "gpt-4-1106-preview",
                                        "gpt-4o",
                                        "gpt-4o-mini",
                                        "ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv",
                                        "llama3-8b-8192",
                                        "llama3-70b-8192",
                                        "llama-3.1-8b-instant",
                                        "llama-3.1-70b-versatile",
                                        "llama-3.2-90b-text-preview",
                                        "llama-3.2-11b-text-preview",
                                        "llama-3.3-70b-versatile",
                                        "mixtral-8x7b-32768",
                                        "gemma-7b-it",
                                        "gemma2-9b-it",
                                        "claude-3-5-sonnet-20240620",
                                        "claude-3-5-sonnet-20241022",
                                        "claude-3-opus-20240229",
                                        "claude-3-sonnet-20240229",
                                        "claude-3-haiku-20240307",
                                        "claude-3-5-haiku-20241022",
                                        "claude-3-7-sonnet-20250219",
                                        "gemini-1.5-pro",
                                        "gemini-1.5-flash",
                                        "gemini-1.0-pro",
                                        "gemini-2.0-flash-exp",
                                        "gemini-2.0-flash-thinking-exp-1219",
                                        "gemini-2.5-pro-exp-03-25",
                                        "gpt-4-32k",
                                        "gpt-4",
                                        "gpt-3.5-turbo-16k",
                                        "gpt-3.5-turbo",
                                        "deepseek-chat",
                                        "deepseek-r1-distill-llama-70b",
                                        "grok-2-latest",
                                        "qwen-max-latest",
                                        "qwen-plus-latest",
                                        "qwen-turbo-latest"
                                      ]
                                    },
                                    "temperature": {
                                      "type": "number",
                                      "description": "The temperature of the LLM"
                                    },
                                    "maxTokens": {
                                      "type": "number",
                                      "description": "The max tokens of the LLM"
                                    }
                                  },
                                  "required": [
                                    "modelId",
                                    "temperature",
                                    "maxTokens"
                                  ],
                                  "additionalProperties": false
                                },
                                "routerLlmConfig": {
                                  "type": "object",
                                  "properties": {
                                    "modelId": {
                                      "type": "string",
                                      "enum": [
                                        "gpt-3.5-turbo-0125",
                                        "gpt-4-1106-preview",
                                        "gpt-4o",
                                        "gpt-4o-mini",
                                        "ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv",
                                        "llama3-8b-8192",
                                        "llama3-70b-8192",
                                        "llama-3.1-8b-instant",
                                        "llama-3.1-70b-versatile",
                                        "llama-3.2-90b-text-preview",
                                        "llama-3.2-11b-text-preview",
                                        "llama-3.3-70b-versatile",
                                        "mixtral-8x7b-32768",
                                        "gemma-7b-it",
                                        "gemma2-9b-it",
                                        "claude-3-5-sonnet-20240620",
                                        "claude-3-5-sonnet-20241022",
                                        "claude-3-opus-20240229",
                                        "claude-3-sonnet-20240229",
                                        "claude-3-haiku-20240307",
                                        "claude-3-5-haiku-20241022",
                                        "claude-3-7-sonnet-20250219",
                                        "gemini-1.5-pro",
                                        "gemini-1.5-flash",
                                        "gemini-1.0-pro",
                                        "gemini-2.0-flash-exp",
                                        "gemini-2.0-flash-thinking-exp-1219",
                                        "gemini-2.5-pro-exp-03-25",
                                        "gpt-4-32k",
                                        "gpt-4",
                                        "gpt-3.5-turbo-16k",
                                        "gpt-3.5-turbo",
                                        "deepseek-chat",
                                        "deepseek-r1-distill-llama-70b",
                                        "grok-2-latest",
                                        "qwen-max-latest",
                                        "qwen-plus-latest",
                                        "qwen-turbo-latest"
                                      ]
                                    },
                                    "temperature": {
                                      "type": "number",
                                      "description": "The temperature of the LLM"
                                    },
                                    "maxTokens": {
                                      "type": "number",
                                      "description": "The max tokens of the LLM"
                                    }
                                  },
                                  "required": [
                                    "modelId",
                                    "temperature",
                                    "maxTokens"
                                  ],
                                  "additionalProperties": false,
                                  "description": "The LLM config that will be used for the router node, NOTE: This must be a fast LLM model or the latency will be too high between responses."
                                },
                                "toolUseBias": {
                                  "type": "number",
                                  "description": "The bias of the LLM to use tools if 0 it will never use tools, if 1 it will only use tools."
                                },
                                "autoRerouter": {
                                  "type": "object",
                                  "properties": {
                                    "enabled": {
                                      "type": "boolean",
                                      "description": "If true, the LLM will try to detect if the user has changed his mind about something enabling the AI to rewind back to the previous node."
                                    },
                                    "level": {
                                      "type": "number",
                                      "description": "The level of rewinding, if 1 the LLM will have access to only 1 level or rewind capabilities meaning if it went from node A > B > C > D  then if it at node d & it detects it needs to be at node B again it will be able to rewind back to node B if the level is at least 2, it will not be able to detect node A unless the level is 3 or more, and so on."
                                    }
                                  },
                                  "required": [
                                    "enabled",
                                    "level"
                                  ],
                                  "additionalProperties": false,
                                  "description": "The auto rerouter of this node."
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "start",
                                    "end",
                                    "default",
                                    "condition"
                                  ],
                                  "description": "The type of the node, if not provided it will be a normal LLM node."
                                },
                                "rf": {
                                  "description": "The position of the node in the reactflow canvas."
                                },
                                "kb": {
                                  "type": "object",
                                  "properties": {
                                    "enabled": {
                                      "type": "boolean"
                                    },
                                    "maxChunks": {
                                      "type": "number",
                                      "description": "The max chunks to use from the KB."
                                    },
                                    "tags": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "The tags to use to filter the docs we search through"
                                    },
                                    "smartSearch": {
                                      "type": "boolean",
                                      "description": "If true, the LLM will use the smart search to search through the docs."
                                    }
                                  },
                                  "required": [
                                    "enabled",
                                    "maxChunks"
                                  ],
                                  "additionalProperties": false
                                },
                                "conditionData": {
                                  "type": "object",
                                  "properties": {
                                    "condition": {
                                      "type": "string",
                                      "description": "The condition to check."
                                    }
                                  },
                                  "required": [
                                    "condition"
                                  ],
                                  "additionalProperties": false
                                },
                                "preStart": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL to send the GET request to."
                                    },
                                    "enabled": {
                                      "type": "boolean",
                                      "description": "If true, we will send a GET request to the URL before starting the node."
                                    },
                                    "testConvoIdValue": {
                                      "type": "string",
                                      "description": "The value to test the URL with."
                                    }
                                  },
                                  "additionalProperties": false,
                                  "description": "The pre start tool of the node, we will send a GET request to this URL before starting the node and provide the results to the AI. GET {url}/{user_id}/{node_name}"
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "description",
                                "instructions",
                                "llmConfig"
                              ],
                              "additionalProperties": false,
                              "description": "A node in the LLM chain."
                            }
                          },
                          "enableNodes": {
                            "type": "boolean"
                          },
                          "advanced": {
                            "type": "object",
                            "properties": {
                              "serverUrl": {
                                "type": "string"
                              },
                              "serverUrlSecret": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "nodesSettings": {
                            "type": "object",
                            "properties": {
                              "appendBeforePrompt": {
                                "type": "string",
                                "description": "The prompt to append to the nodes' prompt."
                              },
                              "routerLLmOptions": {
                                "type": "object",
                                "properties": {
                                  "modelId": {
                                    "type": "string",
                                    "enum": [
                                      "gpt-3.5-turbo-0125",
                                      "gpt-4-1106-preview",
                                      "gpt-4o",
                                      "gpt-4o-mini",
                                      "ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv",
                                      "llama3-8b-8192",
                                      "llama3-70b-8192",
                                      "llama-3.1-8b-instant",
                                      "llama-3.1-70b-versatile",
                                      "llama-3.2-90b-text-preview",
                                      "llama-3.2-11b-text-preview",
                                      "llama-3.3-70b-versatile",
                                      "mixtral-8x7b-32768",
                                      "gemma-7b-it",
                                      "gemma2-9b-it",
                                      "claude-3-5-sonnet-20240620",
                                      "claude-3-5-sonnet-20241022",
                                      "claude-3-opus-20240229",
                                      "claude-3-sonnet-20240229",
                                      "claude-3-haiku-20240307",
                                      "claude-3-5-haiku-20241022",
                                      "claude-3-7-sonnet-20250219",
                                      "gemini-1.5-pro",
                                      "gemini-1.5-flash",
                                      "gemini-1.0-pro",
                                      "gemini-2.0-flash-exp",
                                      "gemini-2.0-flash-thinking-exp-1219",
                                      "gemini-2.5-pro-exp-03-25",
                                      "gpt-4-32k",
                                      "gpt-4",
                                      "gpt-3.5-turbo-16k",
                                      "gpt-3.5-turbo",
                                      "deepseek-chat",
                                      "deepseek-r1-distill-llama-70b",
                                      "grok-2-latest",
                                      "qwen-max-latest",
                                      "qwen-plus-latest",
                                      "qwen-turbo-latest"
                                    ]
                                  },
                                  "temperature": {
                                    "type": "number",
                                    "description": "The temperature of the LLM"
                                  },
                                  "maxTokens": {
                                    "type": "number",
                                    "description": "The max tokens of the LLM"
                                  }
                                },
                                "required": [
                                  "modelId",
                                  "temperature",
                                  "maxTokens"
                                ],
                                "additionalProperties": false
                              },
                              "defaultLLmOptions": {
                                "type": "object",
                                "properties": {
                                  "modelId": {
                                    "type": "string",
                                    "enum": [
                                      "gpt-3.5-turbo-0125",
                                      "gpt-4-1106-preview",
                                      "gpt-4o",
                                      "gpt-4o-mini",
                                      "ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv",
                                      "llama3-8b-8192",
                                      "llama3-70b-8192",
                                      "llama-3.1-8b-instant",
                                      "llama-3.1-70b-versatile",
                                      "llama-3.2-90b-text-preview",
                                      "llama-3.2-11b-text-preview",
                                      "llama-3.3-70b-versatile",
                                      "mixtral-8x7b-32768",
                                      "gemma-7b-it",
                                      "gemma2-9b-it",
                                      "claude-3-5-sonnet-20240620",
                                      "claude-3-5-sonnet-20241022",
                                      "claude-3-opus-20240229",
                                      "claude-3-sonnet-20240229",
                                      "claude-3-haiku-20240307",
                                      "claude-3-5-haiku-20241022",
                                      "claude-3-7-sonnet-20250219",
                                      "gemini-1.5-pro",
                                      "gemini-1.5-flash",
                                      "gemini-1.0-pro",
                                      "gemini-2.0-flash-exp",
                                      "gemini-2.0-flash-thinking-exp-1219",
                                      "gemini-2.5-pro-exp-03-25",
                                      "gpt-4-32k",
                                      "gpt-4",
                                      "gpt-3.5-turbo-16k",
                                      "gpt-3.5-turbo",
                                      "deepseek-chat",
                                      "deepseek-r1-distill-llama-70b",
                                      "grok-2-latest",
                                      "qwen-max-latest",
                                      "qwen-plus-latest",
                                      "qwen-turbo-latest"
                                    ]
                                  },
                                  "temperature": {
                                    "type": "number",
                                    "description": "The temperature of the LLM"
                                  },
                                  "maxTokens": {
                                    "type": "number",
                                    "description": "The max tokens of the LLM"
                                  }
                                },
                                "required": [
                                  "modelId",
                                  "temperature",
                                  "maxTokens"
                                ],
                                "additionalProperties": false
                              },
                              "backchannelOnChoosingNodes": {
                                "type": "boolean",
                                "description": "If true, the LLM will say uha/i see before choosing a node."
                              },
                              "enableUiEngine": {
                                "type": "boolean",
                                "description": "If true, the LLM will be able to show buttons, cards, images on text channels only."
                              },
                              "fallbackModelIds": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "gpt-3.5-turbo-0125",
                                    "gpt-4-1106-preview",
                                    "gpt-4o",
                                    "gpt-4o-mini",
                                    "ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv",
                                    "llama3-8b-8192",
                                    "llama3-70b-8192",
                                    "llama-3.1-8b-instant",
                                    "llama-3.1-70b-versatile",
                                    "llama-3.2-90b-text-preview",
                                    "llama-3.2-11b-text-preview",
                                    "llama-3.3-70b-versatile",
                                    "mixtral-8x7b-32768",
                                    "gemma-7b-it",
                                    "gemma2-9b-it",
                                    "claude-3-5-sonnet-20240620",
                                    "claude-3-5-sonnet-20241022",
                                    "claude-3-opus-20240229",
                                    "claude-3-sonnet-20240229",
                                    "claude-3-haiku-20240307",
                                    "claude-3-5-haiku-20241022",
                                    "claude-3-7-sonnet-20250219",
                                    "gemini-1.5-pro",
                                    "gemini-1.5-flash",
                                    "gemini-1.0-pro",
                                    "gemini-2.0-flash-exp",
                                    "gemini-2.0-flash-thinking-exp-1219",
                                    "gemini-2.5-pro-exp-03-25",
                                    "gpt-4-32k",
                                    "gpt-4",
                                    "gpt-3.5-turbo-16k",
                                    "gpt-3.5-turbo",
                                    "deepseek-chat",
                                    "deepseek-r1-distill-llama-70b",
                                    "grok-2-latest",
                                    "qwen-max-latest",
                                    "qwen-plus-latest",
                                    "qwen-turbo-latest"
                                  ]
                                }
                              },
                              "silenceDetection": {
                                "type": "object",
                                "properties": {
                                  "enabled": {
                                    "type": "boolean",
                                    "default": false,
                                    "description": "Whether to enable the silence detection feature which will insert filler phrases during long periods of silence"
                                  },
                                  "timeoutSeconds": {
                                    "type": "number",
                                    "default": 60,
                                    "description": "Number of seconds of silence before triggering a filler phrase"
                                  },
                                  "endCallAfterNPhrases": {
                                    "type": "number",
                                    "default": 1,
                                    "description": "Number of filler phrases utterances to say before ending the call if 0 it will end the call instantly after reching the timeout."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "startCallPhrases": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "fillerWordsOnToolUsage": {
                                "type": "boolean",
                                "description": "If true, the LLM will say filler words on tool usage, like '1 moment', 'be right back', 'you know', etc."
                              },
                              "smartEndpointing": {
[...]
