{
  "openapi": "3.0.3",
  "info": {
    "title": "Rannah رنّة OpenAPI",
    "description": "Full API reference for Rannah رنّة",
    "version": "1.0.4"
  },
  "servers": [
    {
      "url": "https://eu-gcp-api.vg-stuff.com/v3"
    }
  ],
  "paths": {
    "/agents": {
      "post": {
        "operationId": "createAgent",
        "summary": "Create Agent",
        "description": "Creates a new AI agent with the specified configuration",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "**Title**: The title of the agent."
                      },
                      "description": {
                        "type": "string",
                        "description": "**Description**: A brief description of the agent."
                      },
                      "ownerID": {
                        "type": "string",
                        "description": "**Owner ID**: The unique identifier of the agent's owner."
                      },
                      "theme": {
                        "type": "string",
                        "description": "**Theme**: The visual theme of the agent, e.g., 'blue-light' or 'custom-blue-dark'."
                      },
                      "voiceConfig": {
                        "$ref": "#/components/schemas/transcriber_speechGen_config_0f4a35"
                      },
                      "light": {
                        "type": "boolean",
                        "description": "Whether to enable light mode for the agent. If set to true, the agent will not retain previous chat interactions for privacy reasons."
                      },
                      "enableVertex": {
                        "type": "boolean",
                        "description": "Whether to enable Vertex AI for the agent."
                      },
                      "autoOpenWidget": {
                        "type": "boolean",
                        "description": "Whether to auto-open the widget when the agent is loaded."
                      },
                      "createdAtUNIX": {
                        "type": "number",
                        "description": "The timestamp when the agent was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."
                      },
                      "agentPlatform": {
                        "type": "string",
                        "description": "Specifies the platform on which the agent operates, such as web, mobile, or other environments."
                      },
                      "storageID": {
                        "type": "string",
                        "description": "The identifier for the agent's storage configuration."
                      },
                      "VF_ENVIRONMENT_ALIAS": {
                        "type": "string",
                        "description": "Voiceflow environment alias for runtime calls (`versionID` / v4 session). Unset defaults to `production` so existing agents keep working."
                      },
                      "voiceflowRuntimeMode": {
                        "$ref": "#/components/schemas/string_5cc877a7"
                      },
                      "roundedImageURL": {
                        "type": "string",
                        "description": "URL pointing to the rounded image asset used to visually represent the agent."
                      },
                      "rectangeImageURL": {
                        "type": "string",
                        "description": "URL pointing to the rectangular image asset for the agent's branding or display."
                      },
                      "scrollAnimation": {
                        "type": "boolean",
                        "description": "Indicates whether scroll animations are enabled for smooth transitions in the chat interface."
                      },
                      "proactiveMessage": {
                        "type": "string",
                        "description": "A predefined message the agent sends proactively to engage users."
                      },
                      "chatBgURL": {
                        "type": "string",
                        "description": "URL of the background image used in the chat interface."
                      },
                      "messageAggregationSeconds": {
                        "type": "number",
                        "description": "Number of seconds the AI should wait and aggregate consecutive user messages (text + images) before triggering a single reply. Applies globally to all text-based channels (Web, WhatsApp, Instagram, Messenger, Telegram, SMS, Discord). Runtime default/floor is 5 seconds so image+follow-up text merge into one turn. Higher values further debounce; every new inbound message resets the wait timer."
                      },
                      "lang": {
                        "type": "string",
                        "description": "Specifies the default language for the agent's interactions and responses."
                      },
                      "enableAudioSupport": {
                        "type": "boolean",
                        "description": "Enables audio features, allowing the agent to process and respond to audio inputs."
                      },
                      "AITranslateTo": {
                        "type": "string",
                        "description": "Defines the target language for AI translation during interactions."
                      },
                      "enableAITranslate": {
                        "type": "boolean",
                        "description": "Activates AI-based translation for multilingual support."
                      },
                      "disableNoReplyListener": {
                        "type": "boolean",
                        "description": "Disables the listener for instances where no reply is detected from the agent."
                      },
                      "disableHumanHandoff": {
                        "type": "boolean",
                        "description": "Prevents the agent from escalating interactions to a human operator."
                      },
                      "alwaysShowHandoff": {
                        "type": "boolean",
                        "description": "Ensures the handoff option is always visible, regardless of agent status."
                      },
                      "manualControl": {
                        "type": "boolean",
                        "description": "Allows manual control over specific agent functionalities."
                      },
                      "enableVGHandoff": {
                        "type": "boolean",
                        "description": "Activates VG-specific handoff mechanisms for the agent."
                      },
                      "enableGeoAnalytics": {
                        "type": "boolean",
                        "description": "Enables geographic analytics to track user interactions based on location."
                      },
                      "hideVoiceflowAnalytics": {
                        "type": "boolean",
                        "description": "Hides Voiceflow-specific analytics including intents, conversation flow metrics, and rating analytics."
                      },
                      "hideCallAnalytics": {
                        "type": "boolean",
                        "description": "Hides voice call analytics including duration, latency, cost breakdown, call counts, and call end reasons."
                      },
                      "hideConversationMetrics": {
                        "type": "boolean",
                        "description": "Hides conversation metrics including user retention, conversation length, time retention, and engagement metrics."
                      },
                      "hideCustomAnalytics": {
                        "type": "boolean",
                        "description": "Hides user-created custom charts and metrics from the analytics dashboard."
                      },
                      "hideVapiAnalytics": {
                        "type": "boolean",
                        "description": "Hides VAPI-specific analytics including cost tracking and voice-related metrics."
                      },
                      "hideFunnelAnalytics": {
                        "type": "boolean",
                        "description": "Hides the user engagement funnel chart that tracks progression from widget views to high engagement."
                      },
                      "hideHandoffAnalytics": {
                        "type": "boolean",
                        "description": "Hides handoff analytics including accepted handover count, average response time, and average handling time metrics."
                      },
                      "fixedHandoffPopup": {
                        "type": "boolean",
                        "description": "Ensures the handoff popup remains fixed in the interface."
                      },
                      "buttonsLayout": {
                        "$ref": "#/components/schemas/string_9c7e804b"
                      },
                      "ADVANCED_customCSS": {
                        "type": "string",
                        "description": "Specifies advanced custom CSS for overriding the default styling of the agent's interface."
                      },
                      "messagesLimit": {
                        "type": "number",
                        "description": "Sets a cap on the number of messages the agent can exchange in a single session."
                      },
                      "whatsappToken": {
                        "type": "string",
                        "description": "Token for authenticating and integrating with WhatsApp services."
                      },
                      "whatsappNumberId": {
                        "type": "string",
                        "description": "The ID associated with the WhatsApp number used by the agent."
                      },
                      "whatsappBusniessId": {
                        "type": "string",
                        "description": "The business ID for WhatsApp integration, enabling enterprise-level features."
                      },
                      "whatsappCustomBridge": {
                        "$ref": "#/components/schemas/enabled_webhookUrl_forwardToDeveloper_a724f0"
                      },
                      "waTestNumber": {
                        "type": "string",
                        "description": "A test number used during WhatsApp integration setup or testing."
                      },
                      "waVerifyPassed": {
                        "type": "boolean",
                        "description": "Indicates if WhatsApp verification was successfully completed."
                      },
                      "waTestPassed": {
                        "type": "boolean",
                        "description": "Indicates if the WhatsApp integration test was successful."
                      },
                      "twilioSmsAccountSid": {
                        "type": "string",
                        "description": "Twilio Account SID for SMS integration."
                      },
                      "twilioSmsAuthToken": {
                        "type": "string",
                        "description": "Twilio Auth Token for SMS integration (encrypted)."
                      },
                      "twilioSmsPhoneNumber": {
                        "type": "string",
                        "description": "Twilio phone number for SMS integration."
                      },
                      "twilioSmsMode": {
                        "$ref": "#/components/schemas/string_ad54bab2"
                      },
                      "twilioSmsVerified": {
                        "type": "boolean",
                        "description": "Indicates if the Twilio SMS integration is verified."
                      },
                      "twilioSmsPhoneNumberSid": {
                        "type": "string",
                        "description": "Twilio IncomingPhoneNumber SID for platform rental numbers (used for releasing)."
                      },
                      "twilioSmsRentalSubscriptionId": {
                        "type": "string",
                        "description": "Stripe subscription ID for platform rental SMS number billing."
                      },
                      "twilioSmsRentalStatus": {
                        "$ref": "#/components/schemas/string_d525b319"
                      },
                      "webhookUrl": {
                        "type": "string",
                        "description": "The URL where the agent sends webhook events to external systems."
                      },
                      "gcloudPrivateKey": {
                        "type": "string",
                        "description": "Private key for Google Cloud services integration."
                      },
                      "gcloudClientEmail": {
                        "type": "string",
                        "description": "Client email for Google Cloud authentication."
                      },
                      "smartInit": {
                        "type": "boolean",
                        "description": "Activates smart initialization features for the agent."
                      },
                      "UIhandoffTitle": {
                        "type": "string",
                        "description": "Title displayed during UI handoff interactions."
                      },
                      "UIhandoffSubtitle": {
                        "type": "string",
                        "description": "Subtitle displayed during UI handoff interactions."
                      },
                      "igVerified": {
                        "type": "boolean",
                        "description": "Indicates if the agent's Instagram integration is verified."
                      },
                      "igAccessToken": {
                        "type": "string",
                        "description": "Access token for authenticating Instagram API requests."
                      },
                      "showHandoffEvenIfOffline": {
                        "type": "boolean",
                        "description": "Displays the handoff option even if the agent is offline."
                      },
                      "persistHandoffOnRefresh": {
                        "type": "boolean",
                        "description": "Maintains handoff state when users refresh or close their browser tabs."
                      },
                      "enableBugReporting": {
                        "type": "boolean",
                        "description": "Enables bug reporting module in the conversation's controls."
                      },
                      "blockInputDuringHandoffRequest": {
                        "type": "boolean",
                        "description": "Blocks chat input when a user requests human handoff but no human has been assigned yet. Only applies to VF agents."
                      },
                      "disableHandoffMessages": {
                        "type": "boolean",
                        "description": "When enabled, the system will not send automatic messages when handoff occurs (e.g., 'Now chatting with John')."
                      },
                      "disableHandoffStatusMessages": {
                        "type": "boolean",
                        "description": "When enabled, the system will not send status messages during handoff transitions (e.g., 'We are connecting you to a human', 'Handoff cancelled', 'No agent was available')."
                      },
                      "customButtonJSON_STRING": {
                        "type": "string",
                        "description": "JSON string defining custom buttons for the agent's interface."
                      },
                      "structuredSearchJobIds": {
                        "$ref": "#/components/schemas/array_9d53dd96"
                      },
                      "vg_maxImagesPerCard": {
                        "$ref": "#/components/schemas/S_37a4324d"
                      },
                      "vg_uiEngineChannelConfig": {
                        "$ref": "#/components/schemas/whatsapp_instagram_messenger_telegram_26b9c7"
                      },
                      "vg_enableUIEngineForms": {
                        "type": "boolean",
                        "description": "Enables form and input components in the UI engine for web channel."
                      },
                      "vg_uiEngineFormNotifyConfig": {
                        "$ref": "#/components/schemas/enabled_extraEmails_ca0434"
                      },
                      "vg_enableUIEngineInvoice": {
                        "type": "boolean",
                        "description": "Enables the invoice card component in the UI engine for web channel."
                      },
                      "vg_uiEngineInvoiceConfig": {
                        "$ref": "#/components/schemas/notifyOnButtonClick_notifyEmails_c468a8"
                      },
                      "vg_enableUIEngineCalendarBooking": {
                        "type": "boolean",
                        "description": "Enables the interactive calendar booking widget in the UI engine for web channel."
                      },
                      "vg_uiEngineCalendarConfig": {
                        "$ref": "#/components/schemas/object_9473aac5"
                      },
                      "translateUserResponse": {
                        "type": "boolean"
                      },
                      "enableMessagingVoiceNoteReply": {
                        "type": "boolean"
                      },
                      "disableTranscriptSharing": {
                        "type": "boolean"
                      },
                      "nodes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/object_1cd04876"
                        }
                      },
                      "enableFallback": {
                        "type": "boolean",
                        "description": "Enable fallback for the agent llm model."
                      },
                      "fallbackSettings": {
                        "$ref": "#/components/schemas/model_creditThreshold_7b14d5"
                      },
                      "marketplace": {
                        "$ref": "#/components/schemas/object_e7317833"
                      },
                      "disableRating": {
                        "type": "boolean",
                        "description": "Whether to disable the chat end rating feature."
                      },
                      "chatEndMessage": {
                        "type": "string",
                        "description": "The message to show when the chat ends."
                      },
                      "aiIntroductionMessage": {
                        "type": "string",
                        "description": "The message to show when the user starts the chat on metachannels."
                      },
                      "enableAIIntroductionMessage": {
                        "type": "boolean",
                        "description": "Whether to enable the AI introduction message or not."
                      },
                      "deployed": {
                        "type": "boolean",
                        "description": "Whether the agent is deployed or not."
                      },
                      "captureIGStories": {
                        "type": "boolean",
                        "description": "Whether to capture instagram stories or not."
                      },
                      "gdprCompliance": {
                        "type": "boolean",
                        "description": "Whether to comply with GDPR or not."
                      },
                      "disableFileUpload": {
                        "type": "boolean"
                      },
                      "buttonVariant": {
                        "$ref": "#/components/schemas/string_1a13364e"
                      },
                      "buttonColor": {
                        "$ref": "#/components/schemas/string_4bb90e82"
                      },
                      "buttonSize": {
                        "$ref": "#/components/schemas/string_6244c2ee"
                      },
                      "buttonRadius": {
                        "$ref": "#/components/schemas/string_d7a0c056"
                      },
                      "disableButtonAnimation": {
                        "type": "boolean",
                        "description": "When true, disables NextUI button press-scale animation."
                      },
                      "disableButtonRipple": {
                        "type": "boolean",
                        "description": "When true, disables NextUI button ripple."
                      },
                      "inputVariant": {
                        "$ref": "#/components/schemas/string_58084f33"
                      },
                      "inputColor": {
                        "$ref": "#/components/schemas/string_fa95f8ca"
                      },
                      "inputSize": {
                        "$ref": "#/components/schemas/string_95a6d3fc"
                      },
                      "inputRadius": {
                        "$ref": "#/components/schemas/string_d67dd584"
                      },
                      "disableInputAnimation": {
                        "type": "boolean",
                        "description": "When true, disables NextUI input focus/label animations."
                      },
                      "bubbleStyle": {
                        "$ref": "#/components/schemas/humanRadius_botRadius_humanTone_botTone_536c30"
                      },
                      "privacyDisclaimer": {
                        "$ref": "#/components/schemas/enabled_text_privacyPolicyUrl_acceptButtonLabel_87d480"
                      },
                      "leadCollectionRules": {
                        "$ref": "#/components/schemas/enabled_rules_2204dd"
                      },
                      "identityResolutionSettings": {
                        "$ref": "#/components/schemas/enabled_scope_softMatchEnabled_91b042"
                      },
                      "emailConfig": {
                        "$ref": "#/components/schemas/enabled_assignedEmails_1a1dc7"
                      },
                      "inboundEngagement": {
                        "$ref": "#/components/schemas/object_b9e5f1c4"
                      },
                      "autoTest": {
                        "$ref": "#/components/schemas/object_b0cdee8a"
                      },
                      "langsmithConfig": {
                        "$ref": "#/components/schemas/enabled_apiKey_projectName_endpoint_1b7e30"
                      },
                      "funnelConfig": {
                        "$ref": "#/components/schemas/enabled_steps_notificationRules_maxScore_debf72"
                      },
                      "webControlConfig": {
                        "$ref": "#/components/schemas/enabled_allowEval_allowScreenshare_rememberConsentForSession_7646f0"
                      },
                      "topicsConfig": {
                        "$ref": "#/components/schemas/version_settings_topics_updatedAt_cb8519"
                      },
                      "customTheme": {
                        "type": "object",
                        "properties": {
                          "themeType": {
                            "type": "string",
                            "description": "The type of theme to use for the agent"
                          },
                          "primary": {
                            "type": "string",
                            "description": "The primary color to use for the agent"
                          },
                          "nineColorPallet": {
                            "type": "array",
                            "description": "The nine color pallet to use for the agent",
                            "items": {}
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "agent"
                ],
                "additionalProperties": false
              },
              "example": {
                "agent": {
                  "title": "My Customer Service Agent",
                  "description": "An AI agent that handles customer inquiries",
                  "nodes": [],
                  "ownerID": "workspace_123",
                  "lastModified": 1234567890,
                  "SECRET_API_KEY": "vg_abcdef123456"
                }
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccessWithData_edc798"
                },
                "example": {
                  "success": true,
                  "message": "Agent created successfully",
                  "data": {
                    "ID": "ag_123456789",
                    "title": "My Customer Service Agent",
                    "description": "An AI agent that handles customer inquiries"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "operationId": "getAgents",
        "summary": "Get Agents",
        "description": "Paginated agent list. Prefer /agents/search. Max limit 50  -  never dumps the full workspace collection.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "not": {}
                },
                {
                  "type": "integer",
                  "minimum": 1
                }
              ],
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "not": {}
                },
                {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 50
                }
              ],
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentSchema"
                      }
                    },
                    "page": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agents/search": {
      "get": {
        "operationId": "searchAgents",
        "summary": "Search Agents",
        "description": "Search and paginate agents for a workspace by title, description, or agent ID",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "firstCreated",
                "lastCreated",
                "alphabetical"
              ],
              "default": "newest"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "starredOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "agentIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeAgentIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeStarredAgents",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentSchema"
                      }
                    },
                    "starredAgents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentSchema"
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "totalStarred": {
                      "type": "number"
                    },
                    "page": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "agents",
                    "starredAgents",
                    "total",
                    "totalStarred",
                    "page",
                    "limit",
                    "hasMore"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get Single Agent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AgentSchema"
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "operationId": "updateAgent",
        "summary": "Update Agent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "**Title**: The title of the agent."
                      },
                      "description": {
                        "type": "string",
                        "description": "**Description**: A brief description of the agent."
                      },
                      "theme": {
                        "type": "string",
                        "description": "**Theme**: The visual theme of the agent, e.g., 'blue-light' or 'custom-blue-dark'."
                      },
                      "voiceConfig": {
                        "$ref": "#/components/schemas/transcriber_speechGen_config_0f4a35"
                      },
                      "light": {
                        "type": "boolean",
                        "description": "Whether to enable light mode for the agent. If set to true, the agent will not retain previous chat interactions for privacy reasons."
                      },
                      "enableVertex": {
                        "type": "boolean",
                        "description": "Whether to enable Vertex AI for the agent."
                      },
                      "autoOpenWidget": {
                        "type": "boolean",
                        "description": "Whether to auto-open the widget when the agent is loaded."
                      },
                      "createdAtUNIX": {
                        "type": "number",
                        "description": "The timestamp when the agent was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."
                      },
                      "disabled": {
                        "type": "boolean",
                        "description": "Indicates whether the agent is disabled. If set to true, the agent will not be active."
                      },
                      "vectorDb": {
                        "description": "Specifies the vector database configuration for the agent. This database is used for handling vectorized data or embeddings."
                      },
                      "withRefresh": {
                        "type": "boolean",
                        "description": "Determines whether the agent should refresh its settings or data dynamically."
                      },
                      "agentPlatform": {
                        "type": "string",
                        "description": "Specifies the platform on which the agent operates, such as web, mobile, or other environments."
                      },
                      "storageID": {
                        "type": "string",
                        "description": "The identifier for the agent's storage configuration."
                      },
                      "VF_DIALOGUE_API_KEY": {
                        "type": "string",
                        "description": "API key for VF dialogue integration, enabling the agent to communicate with external systems."
                      },
                      "VF_PROJECT_API_KEY": {
                        "type": "string",
                        "description": "API key associated with the VF project to authenticate and enable specific functionalities."
                      },
                      "VF_PROJECT_ID": {
                        "type": "string",
                        "description": "The unique identifier of the VF project linked to the agent."
                      },
                      "VF_ENVIRONMENT_ALIAS": {
                        "type": "string",
                        "description": "Voiceflow environment alias for runtime calls (`versionID` / v4 session). Unset defaults to `production` so existing agents keep working."
                      },
                      "VF_KB_API_KEY": {
                        "type": "string",
                        "description": "API key for accessing the VF knowledge base, enabling advanced knowledge retrieval capabilities."
                      },
                      "voiceflowRuntimeMode": {
                        "$ref": "#/components/schemas/string_5cc877a7"
                      },
                      "roundedImageURL": {
                        "type": "string",
                        "description": "URL pointing to the rounded image asset used to visually represent the agent."
                      },
                      "rectangeImageURL": {
                        "type": "string",
                        "description": "URL pointing to the rectangular image asset for the agent's branding or display."
                      },
                      "messageDelayMS": {
                        "type": "number",
                        "description": "Specifies the delay in milliseconds for the agent to send messages, simulating natural conversation timing."
                      },
                      "scrollAnimation": {
                        "type": "boolean",
                        "description": "Indicates whether scroll animations are enabled for smooth transitions in the chat interface."
                      },
                      "proactiveMessage": {
                        "type": "string",
                        "description": "A predefined message the agent sends proactively to engage users."
                      },
                      "acceptFileUpload": {
                        "type": "boolean",
                        "description": "Determines if the agent accepts file uploads from users as part of the interaction."
                      },
                      "recordChatHistory": {
                        "type": "boolean",
                        "description": "Specifies whether the agent logs chat histories for future reference or analysis."
                      },
                      "chatBgURL": {
                        "type": "string",
                        "description": "URL of the background image used in the chat interface."
                      },
                      "disableSmoothScroll": {
                        "type": "boolean",
                        "description": "Disables smooth scrolling if set to true, potentially improving performance on low-end devices."
                      },
                      "isDeployed": {
                        "type": "boolean",
                        "description": "Indicates whether the agent is currently deployed and operational."
                      },
                      "tokensUsage": {
                        "description": "Tracks the token usage statistics for the agent, typically used in LLM integrations."
                      },
                      "maxTokensUsage": {
                        "description": "Defines the maximum allowable token usage for the agent to prevent overconsumption."
                      },
                      "lastModified": {
                        "type": "number",
                        "description": "The timestamp of the last modification made to the agent's configuration."
                      },
                      "fontFamily": {
                        "type": "string",
                        "description": "The font family used in the agent's user interface for consistent branding."
                      },
                      "branding": {
                        "type": "string",
                        "description": "Custom branding information or labels associated with the agent."
                      },
                      "customThemeJSONString": {
                        "type": "string",
                        "description": "A JSON string defining a custom theme for the agent's interface."
                      },
                      "autoStartWidget": {
                        "type": "boolean",
                        "description": "Determines if the widget should auto-start upon page load."
                      },
                      "allTimeTriggers": {
                        "type": "number",
                        "description": "The total number of triggers or interactions the agent has handled."
                      },
                      "syncBrowser": {
                        "type": "boolean",
                        "description": "Enables synchronization of settings or states with the browser session."
                      },
                      "delayBeforeSubmit": {
                        "type": "number",
                        "description": "The delay (in milliseconds) before submitting user input to the agent."
                      },
                      "messageAggregationSeconds": {
                        "type": "number",
                        "description": "Number of seconds the AI should wait and aggregate consecutive user messages (text + images) before triggering a single reply. Applies globally to all text-based channels (Web, WhatsApp, Instagram, Messenger, Telegram, SMS, Discord). Runtime default/floor is 5 seconds so image+follow-up text merge into one turn. Higher values further debounce; every new inbound message resets the wait timer."
                      },
                      "region": {
                        "$ref": "#/components/schemas/string_15712fd5"
                      },
                      "listenForUrlChanges": {
                        "type": "boolean",
                        "description": "Specifies if the agent should monitor and react to changes in the browser URL."
                      },
                      "chatForget": {
                        "type": "boolean",
                        "description": "If enabled, the agent will not retain previous chat interactions for privacy reasons."
                      },
                      "lang": {
                        "type": "string",
                        "description": "Specifies the default language for the agent's interactions and responses."
                      },
                      "enableAudioSupport": {
                        "type": "boolean",
                        "description": "Enables audio features, allowing the agent to process and respond to audio inputs."
                      },
                      "AITranslateTo": {
                        "type": "string",
                        "description": "Defines the target language for AI translation during interactions."
                      },
                      "enableAITranslate": {
                        "type": "boolean",
                        "description": "Activates AI-based translation for multilingual support."
                      },
                      "disableNoReplyListener": {
                        "type": "boolean",
                        "description": "Disables the listener for instances where no reply is detected from the agent."
                      },
                      "disableHumanHandoff": {
                        "type": "boolean",
                        "description": "Prevents the agent from escalating interactions to a human operator."
                      },
                      "alwaysShowHandoff": {
                        "type": "boolean",
                        "description": "Ensures the handoff option is always visible, regardless of agent status."
                      },
                      "manualControl": {
                        "type": "boolean",
                        "description": "Allows manual control over specific agent functionalities."
                      },
                      "enableVGHandoff": {
                        "type": "boolean",
                        "description": "Activates VG-specific handoff mechanisms for the agent."
                      },
                      "enableGeoAnalytics": {
                        "type": "boolean",
                        "description": "Enables geographic analytics to track user interactions based on location."
                      },
                      "hideVoiceflowAnalytics": {
                        "type": "boolean",
                        "description": "Hides Voiceflow-specific analytics including intents, conversation flow metrics, and rating analytics."
                      },
                      "hideCallAnalytics": {
                        "type": "boolean",
                        "description": "Hides voice call analytics including duration, latency, cost breakdown, call counts, and call end reasons."
                      },
                      "hideConversationMetrics": {
                        "type": "boolean",
                        "description": "Hides conversation metrics including user retention, conversation length, time retention, and engagement metrics."
                      },
                      "hideCustomAnalytics": {
                        "type": "boolean",
                        "description": "Hides user-created custom charts and metrics from the analytics dashboard."
                      },
                      "hideVapiAnalytics": {
                        "type": "boolean",
                        "description": "Hides VAPI-specific analytics including cost tracking and voice-related metrics."
                      },
                      "hideFunnelAnalytics": {
                        "type": "boolean",
                        "description": "Hides the user engagement funnel chart that tracks progression from widget views to high engagement."
                      },
                      "hideHandoffAnalytics": {
                        "type": "boolean",
                        "description": "Hides handoff analytics including accepted handover count, average response time, and average handling time metrics."
                      },
                      "fixedHandoffPopup": {
                        "type": "boolean",
                        "description": "Ensures the handoff popup remains fixed in the interface."
                      },
                      "buttonsLayout": {
                        "$ref": "#/components/schemas/string_9c7e804b"
                      },
                      "ADVANCED_customCSS": {
                        "type": "string",
                        "description": "Specifies advanced custom CSS for overriding the default styling of the agent's interface."
                      },
                      "messagesLimit": {
                        "type": "number",
                        "description": "Sets a cap on the number of messages the agent can exchange in a single session."
                      },
                      "whatsappToken": {
                        "type": "string",
                        "description": "Token for authenticating and integrating with WhatsApp services."
                      },
                      "whatsappNumberId": {
                        "type": "string",
                        "description": "The ID associated with the WhatsApp number used by the agent."
                      },
                      "whatsappBusniessId": {
                        "type": "string",
                        "description": "The business ID for WhatsApp integration, enabling enterprise-level features."
                      },
                      "whatsappCustomBridge": {
                        "$ref": "#/components/schemas/enabled_webhookUrl_forwardToDeveloper_a724f0"
                      },
                      "waTestNumber": {
                        "type": "string",
                        "description": "A test number used during WhatsApp integration setup or testing."
                      },
                      "waVerifyPassed": {
                        "type": "boolean",
                        "description": "Indicates if WhatsApp verification was successfully completed."
                      },
                      "waTestPassed": {
                        "type": "boolean",
                        "description": "Indicates if the WhatsApp integration test was successful."
                      },
                      "twilioSmsAccountSid": {
                        "type": "string",
                        "description": "Twilio Account SID for SMS integration."
                      },
                      "twilioSmsAuthToken": {
                        "type": "string",
                        "description": "Twilio Auth Token for SMS integration (encrypted)."
                      },
                      "twilioSmsPhoneNumber": {
                        "type": "string",
                        "description": "Twilio phone number for SMS integration."
                      },
                      "twilioSmsMode": {
                        "$ref": "#/components/schemas/string_ad54bab2"
                      },
                      "twilioSmsVerified": {
                        "type": "boolean",
                        "description": "Indicates if the Twilio SMS integration is verified."
                      },
                      "twilioSmsPhoneNumberSid": {
                        "type": "string",
                        "description": "Twilio IncomingPhoneNumber SID for platform rental numbers (used for releasing)."
                      },
                      "twilioSmsRentalSubscriptionId": {
                        "type": "string",
                        "description": "Stripe subscription ID for platform rental SMS number billing."
                      },
                      "twilioSmsRentalStatus": {
                        "$ref": "#/components/schemas/string_d525b319"
                      },
                      "webhookUrl": {
                        "type": "string",
                        "description": "The URL where the agent sends webhook events to external systems."
                      },
                      "gcloudPrivateKey": {
                        "type": "string",
                        "description": "Private key for Google Cloud services integration."
                      },
                      "gcloudClientEmail": {
                        "type": "string",
                        "description": "Client email for Google Cloud authentication."
                      },
                      "smartInit": {
                        "type": "boolean",
                        "description": "Activates smart initialization features for the agent."
                      },
                      "UIhandoffTitle": {
                        "type": "string",
                        "description": "Title displayed during UI handoff interactions."
                      },
                      "UIhandoffSubtitle": {
                        "type": "string",
                        "description": "Subtitle displayed during UI handoff interactions."
                      },
                      "igVerified": {
                        "type": "boolean",
                        "description": "Indicates if the agent's Instagram integration is verified."
                      },
                      "igAccessToken": {
                        "type": "string",
                        "description": "Access token for authenticating Instagram API requests."
                      },
                      "showHandoffEvenIfOffline": {
                        "type": "boolean",
                        "description": "Displays the handoff option even if the agent is offline."
                      },
                      "persistHandoffOnRefresh": {
                        "type": "boolean",
                        "description": "Maintains handoff state when users refresh or close their browser tabs."
                      },
                      "enableBugReporting": {
                        "type": "boolean",
                        "description": "Enables bug reporting module in the conversation's controls."
                      },
                      "blockInputDuringHandoffRequest": {
                        "type": "boolean",
                        "description": "Blocks chat input when a user requests human handoff but no human has been assigned yet. Only applies to VF agents."
                      },
                      "disableHandoffMessages": {
                        "type": "boolean",
                        "description": "When enabled, the system will not send automatic messages when handoff occurs (e.g., 'Now chatting with John')."
                      },
                      "disableHandoffStatusMessages": {
                        "type": "boolean",
                        "description": "When enabled, the system will not send status messages during handoff transitions (e.g., 'We are connecting you to a human', 'Handoff cancelled', 'No agent was available')."
                      },
                      "customButtonJSON_STRING": {
                        "type": "string",
                        "description": "JSON string defining custom buttons for the agent's interface."
                      },
                      "vg_initPrompt": {
                        "type": "string",
                        "description": "LEGACY single-prompt only (enableNodes === false): opening/init user turn for the classic Prompt-tab agent. Ignored when enableNodes is true - new agents use nodes (start node), tools, and variables instead."
                      },
                      "vg_prompt": {
                        "type": "string",
                        "description": "LEGACY single-prompt only (enableNodes === false): classic main prompt template. Ignored for nodes agents - use node instructions / tools / variables."
                      },
                      "vg_initMessages": {
                        "$ref": "#/components/schemas/array_0d657f67"
                      },
                      "vg_systemPrompt": {
                        "type": "string",
                        "description": "LEGACY single-prompt only (enableNodes === false): system instructions for the classic Prompt-tab agent. Ignored when enableNodes is true - system behavior lives on nodes (and tools/variables), not these vg_* fields."
                      },
                      "vg_temperature": {
                        "type": "number",
                        "description": "LEGACY single-prompt only (enableNodes === false): LLM temperature for the classic agent. Nodes agents set model/temperature per node (or nodesSettings), not via this field."
                      },
                      "vg_defaultModel": {
                        "$ref": "#/components/schemas/string_c161ed17"
                      },
                      "vg_maxTokens": {
                        "type": "number",
                        "description": "LEGACY single-prompt only (enableNodes === false): max tokens for the classic agent. Nodes agents configure token limits per node / nodesSettings instead."
                      },
                      "vg_kbDefaultDimension": {
                        "type": "number",
                        "description": "Default dimensionality for the agent's knowledge base embeddings."
                      },
                      "vg_kbTopChunks": {
                        "type": "number",
                        "description": "The number of top chunks retrieved from the knowledge base during a query."
                      },
                      "structuredSearchJobIds": {
                        "$ref": "#/components/schemas/array_9d53dd96"
                      },
                      "SECRET_API_KEY": {
                        "type": "string",
                        "description": "The secret API key for secure integration with VF services."
                      },
                      "vg_kbCharCount": {
                        "type": "number",
                        "description": "Tracks the total character count of the agent's knowledge base."
                      },
                      "vg_kbDocsNum": {
                        "type": "number",
                        "description": "The total number of documents stored in the agent's knowledge base."
                      },
                      "vg_enableUIEngine": {
                        "type": "boolean",
                        "description": "Activates the UI engine for enhanced interface capabilities."
                      },
                      "vg_maxImagesPerCard": {
                        "$ref": "#/components/schemas/S_37a4324d"
                      },
                      "vg_uiEngineChannelConfig": {
                        "$ref": "#/components/schemas/whatsapp_instagram_messenger_telegram_26b9c7"
                      },
                      "vg_enableAboutContext": {
                        "type": "boolean",
                        "description": "Enables contextual information about the agent for users."
                      },
                      "vg_kb_llm": {
                        "$ref": "#/components/schemas/searchMethod_searchPrompt_modelId_temprature_336554"
                      },
                      "vg_enableUIEngineForms": {
                        "type": "boolean",
                        "description": "Enables form and input components in the UI engine for web channel."
                      },
                      "vg_uiEngineFormNotifyConfig": {
                        "$ref": "#/components/schemas/enabled_extraEmails_ca0434"
                      },
                      "vg_enableUIEngineInvoice": {
                        "type": "boolean",
                        "description": "Enables the invoice card component in the UI engine for web channel."
                      },
                      "vg_uiEngineInvoiceConfig": {
                        "$ref": "#/components/schemas/notifyOnButtonClick_notifyEmails_c468a8"
                      },
                      "vg_enableUIEngineCalendarBooking": {
                        "type": "boolean",
                        "description": "Enables the interactive calendar booking widget in the UI engine for web channel."
                      },
                      "vg_uiEngineCalendarConfig": {
                        "$ref": "#/components/schemas/object_9473aac5"
                      },
                      "vg_max_messages_history": {
                        "type": "number",
                        "description": "Maximum number of messages retained in the chat history."
                      },
                      "ifKnowsThreshold": {
                        "type": "number",
                        "description": "Confidence threshold for determining if the agent 'knows' an answer."
                      },
                      "avatarImageUrl": {
                        "type": "string",
                        "description": "URL of the avatar image representing the agent."
                      },
                      "headerImageUrl": {
                        "type": "string",
                        "description": "URL of the header image displayed in the chat interface."
                      },
                      "bannerImageUrl": {
                        "type": "string",
                        "description": "URL of the banner image used in the agent's branding."
                      },
                      "soundEffectUrl": {
                        "type": "string",
                        "description": "URL of the sound effect file used for agent interactions."
                      },
                      "soundEffectEnabled": {
                        "type": "boolean",
                        "description": "Enables or disables sound effects for the agent."
                      },
                      "enableQuickFileUpload": {
                        "type": "boolean",
                        "description": "Allows quick file uploads during chat interactions."
                      },
                      "instagramOptions": {
                        "$ref": "#/components/schemas/pageId_accessToken_c7a7cf"
                      },
                      "translateUserResponse": {
                        "type": "boolean"
                      },
                      "starred": {
                        "type": "boolean"
                      },
                      "flowise": {
                        "$ref": "#/components/schemas/webhookUrl_webhookSecret_8a35db"
                      },
                      "vfSettings": {
                        "$ref": "#/components/schemas/enableIgnoreUrlPaths_7b2099"
                      },
                      "vapi": {},
                      "vapiConfig": {
                        "$ref": "#/components/schemas/object_4dc7a516"
                      },
                      "vgOptions": {
                        "$ref": "#/components/schemas/isLlmStudio_showSources_lightUiEngine_legacyKb_118824"
                      },
                      "ui": {
                        "$ref": "#/components/schemas/object_c8c60d25"
                      },
                      "assignedToolsIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/object_d09340f1"
                        }
                      },
                      "internal": {
                        "$ref": "#/components/schemas/accountCreationConfig_websocketServer_setOnResponse_enableSetOnLoad_2ecc3e"
                      },
                      "disableAutoTranscribeAudio": {
                        "type": "boolean"
                      },
                      "enableMessagingVoiceNoteReply": {
                        "type": "boolean"
                      },
                      "disableTranscriptSharing": {
                        "type": "boolean"
                      },
                      "instaAgentUsername": {
                        "type": "string"
                      },
                      "convoTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "vfConfig": {
                        "$ref": "#/components/schemas/alwaysEnableCardButtons_2314f9"
                      },
                      "discord": {
                        "$ref": "#/components/schemas/channelIds_webhookUrls_b44198"
                      },
                      "limits": {
                        "$ref": "#/components/schemas/object_ed5d189f"
                      },
                      "tabs": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/object_fed7d57c"
                        }
                      },
                      "kbTags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "kbTagsDataMap": {
                        "type": "array",
                        "items": {}
                      },
                      "nodes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/object_1cd04876"
                        }
                      },
                      "enableNodes": {
                        "type": "boolean",
                        "description": "Agent framework switch. true (default for new agents) = nodes/canvas runtime: use nodes, tools, and variables - ignore legacy vg_systemPrompt / vg_initPrompt / vg_prompt / vg_initMessages / vg_defaultModel / vg_temperature / vg_maxTokens for routing. false = classic single-prompt agent that still uses those vg_* Prompt-tab fields."
                      },
                      "advanced": {
                        "$ref": "#/components/schemas/serverUrl_serverUrlSecret_782473"
                      },
                      "nodesSettings": {
                        "$ref": "#/components/schemas/object_ee6ab90a"
                      },
                      "enableFallback": {
                        "type": "boolean",
                        "description": "Enable fallback for the agent llm model."
                      },
                      "fallbackSettings": {
                        "$ref": "#/components/schemas/model_creditThreshold_7b14d5"
                      },
                      "marketplace": {
                        "$ref": "#/components/schemas/object_e7317833"
                      },
                      "disableRating": {
                        "type": "boolean",
                        "description": "Whether to disable the chat end rating feature."
                      },
                      "chatEndMessage": {
                        "type": "string",
                        "description": "The message to show when the chat ends."
                      },
                      "aiIntroductionMessage": {
                        "type": "string",
                        "description": "The message to show when the user starts the chat on metachannels."
                      },
                      "enableAIIntroductionMessage": {
                        "type": "boolean",
                        "description": "Whether to enable the AI introduction message or not."
                      },
                      "deployed": {
                        "type": "boolean",
                        "description": "Whether the agent is deployed or not."
                      },
                      "captureIGStories": {
                        "type": "boolean",
                        "description": "Whether to capture instagram stories or not."
                      },
                      "gdprCompliance": {
                        "type": "boolean",
                        "description": "Whether to comply with GDPR or not."
                      },
                      "disableFileUpload": {
                        "type": "boolean"
                      },
                      "buttonVariant": {
                        "$ref": "#/components/schemas/string_1a13364e"
                      },
                      "buttonColor": {
                        "$ref": "#/components/schemas/string_4bb90e82"
                      },
                      "buttonSize": {
                        "$ref": "#/components/schemas/string_6244c2ee"
                      },
                      "buttonRadius": {
                        "$ref": "#/components/schemas/string_d7a0c056"
                      },
                      "disableButtonAnimation": {
                        "type": "boolean",
                        "description": "When true, disables NextUI button press-scale animation."
                      },
                      "disableButtonRipple": {
                        "type": "boolean",
                        "description": "When true, disables NextUI button ripple."
                      },
                      "inputVariant": {
                        "$ref": "#/components/schemas/string_58084f33"
                      },
                      "inputColor": {
                        "$ref": "#/components/schemas/string_fa95f8ca"
                      },
                      "inputSize": {
                        "$ref": "#/components/schemas/string_95a6d3fc"
                      },
                      "inputRadius": {
                        "$ref": "#/components/schemas/string_d67dd584"
                      },
                      "disableInputAnimation": {
                        "type": "boolean",
                        "description": "When true, disables NextUI input focus/label animations."
                      },
                      "bubbleStyle": {
                        "$ref": "#/components/schemas/humanRadius_botRadius_humanTone_botTone_536c30"
                      },
                      "privacyDisclaimer": {
                        "$ref": "#/components/schemas/enabled_text_privacyPolicyUrl_acceptButtonLabel_87d480"
                      },
                      "leadCollectionRules": {
                        "$ref": "#/components/schemas/enabled_rules_2204dd"
                      },
                      "identityResolutionSettings": {
                        "$ref": "#/components/schemas/enabled_scope_softMatchEnabled_91b042"
                      },
                      "emailConfig": {
                        "$ref": "#/components/schemas/enabled_assignedEmails_1a1dc7"
                      },
                      "inboundEngagement": {
                        "$ref": "#/components/schemas/object_b9e5f1c4"
                      },
                      "autoTest": {
                        "$ref": "#/components/schemas/object_b0cdee8a"
                      },
                      "langsmithConfig": {
                        "$ref": "#/components/schemas/enabled_apiKey_projectName_endpoint_1b7e30"
                      },
                      "funnelConfig": {
                        "$ref": "#/components/schemas/enabled_steps_notificationRules_maxScore_debf72"
                      },
                      "webControlConfig": {
                        "$ref": "#/components/schemas/enabled_allowEval_allowScreenshare_rememberConsentForSession_7646f0"
                      },
                      "topicsConfig": {
                        "$ref": "#/components/schemas/version_settings_topics_updatedAt_cb8519"
                      }
                    },
                    "additionalProperties": true
                  }
                },
                "required": [
                  "agent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccessWithData_edc798"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Delete Agent",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess_ff2cf2"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agents/{agentId}/export-template": {
      "get": {
        "operationId": "exportAgentToJson",
        "summary": "Export Agent Template",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentTemplate": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "nodes": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/object_1cd04876"
                          }
                        },
                        "tools": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/object_d09340f1"
                          }
                        },
                        "variables": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/object_6cf70218"
                          }
                        },
                        "agentData": {
                          "$ref": "#/components/schemas/AgentSchema"
                        },
                        "workspaceId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "workspaceId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "agentTemplate"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agents/import-template": {
      "post": {
        "operationId": "convertAgentTemplateToAgent",
        "summary": "Import Agent Template",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentTemplate": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "nodes": {
                        "type": "array",
                        "items": {}
                      },
                      "tools": {
                        "type": "array",
                        "items": {}
                      },
                      "variables": {
                        "type": "array",
                        "items": {}
                      },
                      "agentData": {},
                      "workspaceId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "workspaceId"
                    ],
                    "additionalProperties": {}
                  },
                  "agentName": {
                    "type": "string"
                  },
                  "fromAgentId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentCreated": {
                      "$ref": "#/components/schemas/AgentSchema"
                    }
                  },
                  "required": [
                    "agentCreated"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agents/{agentId}/clone": {
      "post": {
        "operationId": "cloneAgent",
        "summary": "Clone Agent",
        "description": "Clone an existing agent with explicit overrides and carryOver flags. Never inherits branding or funnel recipients.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "overrides": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "systemPrompt": {
                        "type": "string"
                      },
                      "theme": {
                        "type": "object",
                        "properties": {
                          "primaryColor": {
                            "type": "string"
                          },
                          "themeType": {
                            "type": "string",
                            "enum": [
                              "light",
                              "dark"
                            ]
                          }
                        },
                        "additionalProperties": false
                      },
                      "vg_initMessages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "carryOver": {
                    "type": "object",
                    "properties": {
                      "kb": {
                        "type": "boolean",
                        "default": false
                      },
                      "voiceConfig": {
                        "type": "boolean",
                        "default": true
                      },
                      "uiEngineConfig": {
                        "type": "boolean",
                        "default": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_agentId_agent_c1c562"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agent-templates": {
      "get": {
        "operationId": "listCanonicalTemplates",
        "summary": "List canonical agent templates",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "templates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "templateId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "default": ""
                          },
                          "category": {
                            "type": "string",
                            "enum": [
                              "hospitality",
                              "ecommerce",
                              "support",
                              "blank",
                              "general",
                              "sales",
                              "other"
                            ],
                            "default": "general"
                          },
                          "baseNodes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "instructions": {
                                  "type": "string"
                                },
                                "childrenNodes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "toolsIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "llmConfig": {
                                  "type": "object",
                                  "properties": {
                                    "modelId": {
                                      "type": "string"
                                    },
                                    "temperature": {
                                      "type": "number"
                                    },
                                    "maxTokens": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": true
                                },
                                "kb": {
                                  "type": "object",
                                  "properties": {
                                    "enabled": {
                                      "type": "boolean"
                                    },
                                    "maxChunks": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": true
                            },
                            "default": []
                          },
                          "baseTheme": {
                            "type": "string"
                          },
                          "baseVoiceConfig": {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          "baseAgentFields": {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          "kbSeedPattern": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": []
                          },
                          "createdBy": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "system"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "default": "system"
                          },
                          "isPublic": {
                            "type": "boolean",
                            "default": true
                          },
                          "createdAtUNIX": {
                            "type": "number"
                          },
                          "updatedAtUNIX": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "templateId",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "success",
                    "templates"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agent-templates/{templateId}/create": {
      "post": {
        "operationId": "createAgentFromCanonicalTemplate",
        "summary": "Create agent from canonical template",
        "description": "Creates a new agent from agent_templates/{templateId}. Never reads a live agents/{id} doc.",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/success_agentId_agent_c1c562"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agent-templates/seed": {
      "post": {
        "operationId": "seedCanonicalTemplates",
        "summary": "Seed system agent templates",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "seeded": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "seeded"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agents/{agentId}/audit-log": {
      "get": {
        "operationId": "getAgentAuditLog",
        "summary": "Get agent audit log",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursorTs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentId": {
                            "type": "string"
                          },
                          "field": {
                            "type": "string"
                          },
                          "oldValue": {
                            "$ref": "#/components/schemas/S_72792157"
                          },
                          "newValue": {
                            "$ref": "#/components/schemas/S_72792157"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "user_update",
                              "system_migration",
                              "template_clone",
                              "agent_clone"
                            ]
                          },
                          "actor": {
                            "type": "string"
                          },
                          "ts": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "agentId",
                          "field",
                          "oldValue",
                          "newValue",
                          "source",
                          "actor",
                          "ts"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "nextCursorTs": {
                      "type": "number",
                      "nullable": true
                    }
                  },
                  "required": [
                    "success",
                    "entries",
                    "nextCursorTs"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/scrape": {
      "post": {
        "operationId": "generalScrape",
        "summary": "General-purpose URL scrape",
        "description": "Ad-hoc research scrape. Not tied to an agent KB. Distinct from workspace crawler kb_ingest jobs.",
        "tags": [
          "Scrape"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/url_e69aa3"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "content": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "jobId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "content",
                    "images",
                    "links"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/agents/{agentId}/handoff/send-reminder": {
      "post": {
        "operationId": "sendHandoffReminder",
        "summary": "Send Handoff Reminder Email",
        "description": "Manually send a reminder email to user who hasn't seen agent messages during handoff",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
[...]
